<%= form_for @collection do |f| %>
  <div class="form-group">
    <% if @collection.errors.any? %>
  <ul>
    <% @collection.errors.each do |attr,msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
    <%= f.text_field :name, placeholder: "Wprowadź nazwę kolekcji..", autofocus: true %>
    <%= f.text_area :description, placeholder: "Dodaj opis tej kolekcjii", autofocus: true %>
    <%= f.submit(@collection.new_record? ? "Dodaj post" : "Edytuj post") %>
  </div>
<% end %>