<%= @collection.name %> <br>
<%= @collection.description %>
<% @meditations.each do |meditation| %>
  <h2><%= meditation.name %></h2>
  <% if current_user.admin === true %>
   <%= link_to "Usuń", meditation_path(meditation), method: :delete, data: {confirm: 'Czy jesteś pewien?'}, class: "link" %> 
    <%= link_to "Edytuj", edit_meditation_path(meditation), class: 'link' %>
  <% end %>
    <%= link_to "Osłuchaj", meditation_path(meditation), class: 'link' %>
<% end %>
