<div class= "edit-page"> 
<div class = "edit-user-page col-md-8 offset-md-2 text-center">

<h2>Edytuj profil</h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
   
   <div class="edit-profile-avatar text-center">
      <% if current_user.avatar.attached? %>
        <%= image_tag(current_user.resize) %>
        <%= link_to 'Remove', delete_image_attachment_user_path(current_user.avatar.id), method: :delete,
            data: { confirm: 'Are you sure?' }%>
      <% else %>
        <%= image_tag("/assets/avatar.png") %>
      <% end %>
      <%= f.file_field :avatar %>
    </div>


     <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label 'Hasło' %> <i>(Zostaw puste jeżeli nie chcesz zmieniać.)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em>przynajmniej <%= @minimum_password_length %> znaków.</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label 'Potwierdź hasło' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label "Aktualne hasło" %> <i>(Aby zmienić hasło wprowadź stare hasło.)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

   

    <div class="field">
      <%= f.text_field :nick %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Usunięcie konta</h3>

  <p>Niezadowolony? <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Wróć", :back %>
</div>