<% if current_user%>
<% @collections.each do |collection| %>
  <% if current_user.admin === true %>
    <h1>Admin Panel</h1>
      <button><%= link_to "Dodaj Medytacje", new_meditation_path, class: 'link'%></button>
      <button><%= link_to "Dodaj Kolekcję", new_collection_path, class: 'link'%></button>
      <div class="collection-box">
      
      <div class="collection-box-content">
        <h3><%= collection.name %></h3>
        <p><%= collection.description %></p>
        <div class="collection-box-content-links">
        <%= link_to "Zobacz kolekcje", collection_path(collection), class: "link" %>
        <%= link_to "Edytuj kolekcje", edit_collection_path(collection), class: "link" %>
        <%= link_to "Usuń", collection_path(collection), method: :delete, data: {confirm: 'Czy jesteś pewien?'}, class: "link" %> 
        </div>
      </div>
      
      </div>
    <% else %>
        <div class="collection-box">
      
      <div class="collection-box-content">
        <h3><%= collection.name %></h3>
        <p><%= collection.description %></p>
        <div class="collection-box-content-links">
        <%= link_to "Zobacz kolekcje", collection_path(collection), class: "link" %>


        <%if @current_user.collections.include?(collection)%>
        <%= link_to "Unsub", subscription_path(@subscription), method: :delete, data: {confirm: "are you sure?"} %>
        <% else %>
        <%= link_to "Sub", subscriptions_path(user_id: current_user.id, collection_id: collection.id), class: "link", method: :post %>
        <% end %>        
     
          
      
        </div>
      </div>
      
      </div>
  <% end %>
  <% end %>
<% else %>
  <p>Możesz zalogować się ponownie <br> <%= link_to "zaloguj", new_user_session_path %> </p>
<% end %>
  


