<%= form_for @meditation do |f| %>
  <div class="form-group">
    <%= select_tag(:collection_id, options_for_select(@collections), prompt: "Wybierz kolekję ") %>
    <%= f.text_field :name, placeholder: "Wprowadź nazwę medytacjii..", autofocus: true %>
    <%= f.label "Plik audio" %>
    <%= f.file_field :meditationFile %>
    <%= f.submit(@meditation.new_record? ? "Dodaj post" : "Edytuj post") %>
  </div>
<% end %>